*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
}

.section-principal{
    display: flex;
}

.section-principal div{
    width: 200px;
    height: 200px;
    border: solid;
}

.box-one{
    background-color: #f0a171;
}

.box-two{
    background-color: #7c1f4c;
}

.box-three{
    background-color: #17041e;
}

/*--------------dentro de los elementos responsive------------- */
@media only screen and (max-width :480px){
    body{
        background-color: #bb2e3d;
    }

    .section-principal div{
        width: 50px;
        height: 50px;
        border: solid;
    }

    .section-principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .box-three{
        background-color: #2f0642;
    }

    .box-one{
        background-color: #160a02;
    }
}
